# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml

# Rust
target/
Cargo.lock
bar-chart.svg

# Local Cargo config
.cargo/config.toml


# Node
node_modules/
cache/
dist/
*.log
*.txt